{% load static %}

<div class="card card-display">

    <div class="card-image image imagesize">
        {% if toy.banner %}
            <img src="{{ toy.banner.url }}" alt="Image" style="height: 16rem;">
        {% else %}
            <img src="{% static 'no image.png' %}" alt="Image" style="height: 16rem;">
        {% endif %}
    </div>

    <div class="card-top">
        <div class="card-content">
            <h3 class="title is-3"> {{ toy.name | title }}</h3>
            <div class="subtitle is-6 is-light">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                <span>
                    {{ toy.user.first_name | capfirst }}
                    {{ toy.user.last_name | capfirst }}
                </span>
                <span> | </span>
                <span>{{ toy.date | timesince }} ago</span>
            </div>
            <div class="text content">
                <p>{{ toy.body | truncatewords:10}}</p>
            </div>
            <div class="text content">
                <p> : ... لینک یوتیوب، آپارات، دیدئو و   </p>
                <p>{{ toy.video_link }} </p>
            </div>
            <div>
                <a href="{% url 'ToysApp:toy_detail' toy.category.name toy.slug %}"
                   class="button is-light card-item see-more">see more</a>
            </div>
        </div>
    </div>
</div>